.BodyPage{
  font-family: monospace,ui-monospace;
  font-size: 30px; 
  
}
#HomeContent{
    position: relative;
    display: inline-block;
    top: 10rem;
    left: 15rem;
    font-weight: 600; 
}
.desc{
  position: relative;
  text-align: center;
  left: 10rem;
  top: 1.9rem;
  font-size: 16px;
} 
.exp{
  
}