.Contact{
    height: 100vh;
    width: 100vw; 
    display: flex;  
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);

}

.IntroContact{
    display: grid;  
    padding: 2.5rem; 
    margin: 2.5rem; 
    line-height: 8rem;
    grid-template-columns: auto auto auto ;
}
.Grid_Item, .Grid_Item_middle{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 2.8rem;
    width: 30rem;
    line-height: 1.5rem;
    background: rgba(36, 38, 48, 0.73);
    border-radius:50px ; 
}
.Grid_Item:hover{
    background: rgba(0, 0, 0, 0.63); 
    box-shadow: 0 0 10px rgb(107, 174, 161);
}
.Grid_Item  img{
  height:2rem;  
} 
.Grid_Item a{
    display: flex;
    align-items: center;
}
.Grid_Item2 { 
    background-color: rgb(107, 174, 161);
    display: flex;   
    align-self: center; 
    margin: 0.5rem;
    margin-left: 25%;
    margin-right: 25%;
    height:1px;
    width: 10rem;
    border-radius:50px ; 
}
.Grid_Item_middle{
    width: 10rem;
}

@media screen and (max-width:450px){
    .Contact{
        width: 100vw;
        height: 100vh;
        overflow: scroll !important; 
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
    .Contact .IntroContact{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin-top: 5rem ;
        /* overflow: visible !important; */
    } 
    .Contact .IntroContact .Grid_Item  *{
        font-size:80%;  
    }
    .Contact .IntroContact .Grid_Item pre a{ 
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: visible !important;  */
    }
    .Contact .Grid_Item{ 
        width: 80vw; 
        border-radius: 0;
    }
    .Contact .IntroContact .Grid_Item pre{ 
        display: block; 
        width: 90%;  
    }
    .Contact .Grid_Item img { 
        height: 8%;
        width: 8%;
    }
     .Grid_Item_middle{ 
        width: 10rem !important;
    }
    /* .Contact{
        height: 100%;
        width: 100vw; 
        display: flex;  
        justify-content: flex-start;
        align-items: center;
    }
    .IntroContact{
        display: flex;  
        flex-direction: column;
        padding: 0rem; 
        margin: 0rem; 
        line-height: 8rem; 
        position: relative;
        left: 2.5rem; 
        top: -2rem;
    }
    .Grid_Item, .Grid_Item_middle{ 
        padding: 0.3rem;
        margin: 0.5rem;
        height: fit-content;
        width: 20rem;  
        text-align: center ;
    } */
}