*{
  /* cursor: none; */
}
.HomePage{
  font-family: monospace,ui-monospace;
  font-size: 30px;
  height: 100vh;
  overflow: hidden;
}

#HomeContent{
    position: relative; 
    display:inline; 
    height: auto;
    width: auto;
    top: 10rem;
    left: 15rem;
    font-weight: 600; 
}
.desc{
  display: inline-block;
  position: relative;
  text-align: center;
  left: 10rem;
  top: 1.9rem;
  font-size: 16px; 
}  

@media screen and (max-width: 450px) {
  .HomePage{
    font-family: monospace,ui-monospace;
    font-size: 30px;
    height: 100vh;
    text-align: center;
  }
  #HomeContent{
      position: relative; 
      display:inline; 
      height: auto;
      width: auto;
      left: 1px;
      top: 2.5rem;
      font-weight: 400; 
  }
  .desc{
    font-size: 16px;  
    position: relative;
    display: flex;
    left: 4rem;
    top: 4rem;
    width: fit-content;
  }  
}